.image {
    width: 40%;
    border-radius: 28px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
}

button.commonName {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: darkgrey;
}

button.add {
    display: flex;
    padding: 9px;
    height: 38px;
    background-color: forestgreen;
}

button.delete {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
}

div.duck__speciesName {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: max-content;
    margin-right: auto;
    margin-left: auto;
}

div.duck__flyway {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: max-content;
    margin-right: auto;
    margin-left: auto;
}

div.duck__diet {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: max-content;
    margin-right: auto;
    margin-left: auto;
}

div.duck__habitat {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: max-content;
    margin-right: auto;
    margin-left: auto;
}

h1.list__ducks {
    display: flex;
    justify-content: center;
}

.ducks {
    background-color: steelblue;
}