.flyways {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

h1 {
    display: flex;
    justify-content: center;
}

img.flyway_img {
    width: 70%;
    display: flex;
}

div.flyway__name {
    text-decoration-line: underline
}