.bg_image{
    background-image: url('/home/sam_barker/workspace/waterfowl/public/images/duckbackground.jpg');
    background-size: cover;
    width: 89%;
    height: auto;
    position: fixed;
    top: 42px;
    left: 0;
    min-height: 100%;
    min-width: 1024px;
    min-width: -webkit-fill-available
    
  }